[Unit]
Description=GreenCloud Node Service
After=network.target containerd.service
Requires=containerd.service

[Service]
ExecStartPre=/bin/bash -c 'conf=/etc/sysctl.d/99-ping-group.conf; echo "net.ipv4.ping_group_range = 0 2147483647" > "$conf"; [[ -e /proc/sys/net/ipv4/ping_group_range ]] && echo "0 2147483647" > /proc/sys/net/ipv4/ping_group_range'
ExecStart=/services/greencloud/usr/local/bin/gcnode
Restart=always
User=root
WorkingDirectory=/var/lib/greencloud
Environment="GC_HOSTNET=true"
Environment="GC_API_KEY_FILE=/services_rw/greencloud/api_key"
Environment="GC_NODE_NAME_FILE=/services_rw/greencloud/node_name"

[Install]
WantedBy=multi-user.target
